body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img{
  width:200px;
  height:200px;
  border: none;
}

div{
  margin: 10px;
  padding: 5px;
}

.pic{
  display:inline-block;
  float: left;
}

.info{
  display: inline-block;
  float: left;
  overflow: auto;
  width:70%;
}

.outside{
  border: 1px solid black;
  width: 80%;
  display: block;
  overflow: auto;
}

.title{
  display: inline-block;
  margin:0px;
  vertical-align: top;
}

.author{
  display: inline-block;
  float: right;
  margin: 0px;
}

.description{
  margin: 0px;
  margin-top: 10px;
}

.item {
  border:1px solid #999;
  margin-top:15px;
  padding:15px;
  border-radius:4px;
}

.item.ng-move,
.item.ng-enter,
.item.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
  opacity:0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
  opacity:1;
}

.has-error{
  color: red;
}
